#app{
  margin: 0% 2%;
  width: 98%;
}

.btn-box{
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
}

.json-box{
  margin: 1% 0%;
}
.mb-1{
  margin-bottom: 1%;
}
.main_section {
  display: flex;
}
.container{
  max-width: 1250px !important;
}

.json-box {
  height: 400px;
  overflow: auto;
  font-size: 11px;
}