#app{
  margin: 0% 2%;
  width: 98%;
}

.btn-box{
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
}

.json-box{
  margin: 1% 0%;
}
.mb-1{
  margin-bottom: 1%;
}
.main_section {
  display: flex;
}
.container{
  max-width: 1250px !important;
}

.json-box {
  height: 400px;
  overflow: auto;
  font-size: 11px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

button:hover {
  background-color: #0056b3;
}

.full-screen-button {
  background-color: #28a745;
}

.full-screen-button:hover {
  background-color: #218838;
}

.full-screen-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}